.notification-container {
    gap: 20px;

    position: absolute;
    top: 25px;
    left: 50px;

    display: flex;
    flex-direction: column;

    & > div {
        width: max-content;
        padding: 8px 16px;

        display: flex;
        gap: 5px;
        
        border-radius: 999px;
        font-size: 0.9rem;
        box-shadow: 4px 4px 13px 4px rgba(44, 44, 44, 0.16);

        & > img {
            width: 15px;
            height: 15px;
        }
        & > button {
            width: 20px;
            height: 20px;
            margin-top: 0;
            padding: 0;

            position: relative;
            
            border: 0px;
            background-color: transparent;

            & > svg {
                width: 20px;
                height: 20px;
                padding: 5px;

                position: absolute;
                top: 0;
                left: 0;
            }
            &:hover {
                border: #345f2a 1px solid;
            }
        }
    }

    // Styling for the succes notification
    & > div.succes {
        border: 1px solid #345f2a;
        // background-color: #00bf0055;
        color: #9ca3af;
    }
    // Styling for the default notification
    & > div.information {
        border: 1px solid #4b5563;
        color: #9ca3af;
    }

    // Styling for the warning notification
    & > div.warning {
        border: 1px solid #663838;
        // background-color: #bf000055;
        color: #9ca3af;
    }
}