// Backgrounds
$primary-bg: #111827;
$secondary-bg: #1f2937;

// Text
$primary-text: #ffffff;
$secondary-text: #d1d5db;
$dimmed-text: #9ca3af;

// Borders
$neutral-border: #4b5563;
$dark-border: #1f2937;
$success-border: #345f2a;

// Accent / Status
$success-accent: #00bf00;
$success-bg-alpha: rgba(0, 191, 0, 0.33); // #00bf0055
$warning-accent: #663838;
$warning-bg-alpha: rgba(191, 0, 0, 0.33); // #bf000055

// Fonts
$font-title: 'Montserrat', sans-serif;
$font-para: 'Inter', sans-serif;