button {
  background-color: #00bf00;
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
  margin-top: 20px;
  padding: 8px 16px;
  border: 1px solid #4b5563;
  border-radius: 999px;
  font-size: 0.9rem;
  color: #1f2937;
  font-weight: bold;
}

button:hover {
  background-color: transparent;
  border-color: #00bf00;
  color: #00bf00;
  cursor: pointer;
}

footer {
  width: 100%;
  max-width: 1200px;
  min-height: 10svh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(0, 191, 0, 0.1254901961);
}
footer > div {
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
  display: flex;
}
footer > div > ul, footer > div > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
footer > div > ul.row, footer > div > div.row {
  flex-direction: row;
  gap: 20px;
}
footer > div > ul {
  list-style: none;
}
footer > div > ul:first-child {
  align-items: flex-start;
}
footer > div > ul:first-child li {
  margin-bottom: 10px;
}
footer > div > ul:last-child {
  align-items: flex-end;
}
footer > div > ul:last-child li {
  margin-bottom: 10px;
}
footer > div > ul.row:first-child {
  justify-content: flex-start;
}
footer > div > ul.row:last-child {
  justify-content: flex-end;
}
footer > div > div:first-child {
  align-items: flex-start;
}
footer > div > div:first-child li {
  margin-bottom: 10px;
}
footer > div > div:last-child {
  align-items: flex-end;
}
footer > div > div:last-child li {
  margin-bottom: 10px;
}
footer > div > div.row:first-child {
  justify-content: flex-start;
}
footer > div > div.row:last-child {
  justify-content: flex-end;
}

.top-bar {
  width: 100%;
  max-width: 1200px;
  padding: 5px 20px;
  background-color: rgba(0, 191, 0, 0.1882352941);
  border-radius: 0 0 8px 8px;
}
.top-bar > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.top-bar > ul > li > select {
  padding: 5px 10px;
  background-color: #151d2c;
  color: #FFFFFF;
}

nav {
  width: 100%;
  max-width: 1200px;
  min-height: 10svh;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  border-bottom: 1px solid rgba(0, 191, 0, 0.1254901961);
}
nav > ul {
  gap: 20px;
  display: flex;
  align-items: center;
  list-style: none;
}
nav > ul:first-of-type {
  justify-content: flex-start;
}
nav > ul:last-of-type {
  justify-content: flex-end;
}
nav > ul > li > button {
  margin-top: 0;
}
nav > ul > li > a {
  text-decoration: none;
}
nav > ul > li > a:hover {
  text-decoration: underline;
}
nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > a > img {
  height: 40px;
  width: auto;
  display: block;
}

.notification-container {
  gap: 20px;
  position: absolute;
  top: 25px;
  left: 50px;
  display: flex;
  flex-direction: column;
}
.notification-container > div {
  width: -moz-max-content;
  width: max-content;
  padding: 8px 16px;
  display: flex;
  gap: 5px;
  border-radius: 999px;
  font-size: 0.9rem;
  box-shadow: 4px 4px 13px 4px rgba(44, 44, 44, 0.16);
}
.notification-container > div > img {
  width: 15px;
  height: 15px;
}
.notification-container > div > button {
  width: 20px;
  height: 20px;
  margin-top: 0;
  padding: 0;
  position: relative;
  border: 0px;
  background-color: transparent;
}
.notification-container > div > button > svg {
  width: 20px;
  height: 20px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.notification-container > div > button:hover {
  border: #345f2a 1px solid;
}
.notification-container > div.succes {
  border: 1px solid #345f2a;
  color: #9ca3af;
}
.notification-container > div.information {
  border: 1px solid #4b5563;
  color: #9ca3af;
}
.notification-container > div.warning {
  border: 1px solid #663838;
  color: #9ca3af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #111827, #1f2937);
  color: white;
  text-align: center;
  overflow-x: hidden;
}

nav {
  width: 100%;
  max-width: 1200px;
  min-height: 10svh;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  border-bottom: 1px solid rgba(0, 191, 0, 0.1254901961);
}
nav > ul {
  gap: 20px;
  display: flex;
  list-style: none;
}
nav > ul:first-of-type {
  justify-content: flex-start;
}
nav > ul:last-of-type {
  justify-content: flex-end;
}
nav > ul > li > a {
  text-decoration: none;
}
nav > ul > li > a:hover {
  text-decoration: underline;
}
nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > a > img {
  height: 40px;
  width: auto;
  display: block;
}

main {
  position: relative;
  min-height: 80svh;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

p {
  font-size: 1.2rem;
  color: #d1d5db;
}

a {
  color: #00bf00;
}

.badge {
  display: inline-block;
  width: max-content;
  margin-top: 20px;
  padding: 8px 16px;
  border: 1px solid #4b5563;
  border-radius: 999px;
  font-size: 0.9rem;
  color: #9ca3af;
}

button {
  background-color: #00bf00;
  display: inline-block;
  width: max-content;
  margin-top: 20px;
  padding: 8px 16px;
  border: 1px solid #4b5563;
  border-radius: 999px;
  font-size: 0.9rem;
  color: #1f2937;
  font-weight: bold;
}

button:hover {
  background-color: transparent;
  border-color: #00bf00;
  color: #00bf00;
  cursor: pointer;
}

.notification-container {
  gap: 20px;
  position: absolute;
  top: 25px;
  left: 50px;
  display: flex;
  flex-direction: column;
}
.notification-container > div {
  display: flex;
  gap: 5px;
  width: max-content;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 0.9rem;
  box-shadow: 4px 4px 13px 4px rgba(44, 44, 44, 0.16);
}
.notification-container > div.succes {
  border: 1px solid #345f2a;
  background-color: rgba(0, 191, 0, 0.3333333333);
  color: #9ca3af;
}
.notification-container > div.normal {
  border: 1px solid #4b5563;
  color: #9ca3af;
}
.notification-container > div.warning {
  border: 1px solid #663838;
  background-color: rgba(191, 0, 0, 0.3333333333);
  color: #9ca3af;
}
.notification-container > div > img {
  width: 15px;
  height: 15px;
}

.banner-container {
  width: 100%;
  align-self: flex-start;
  position: relative;
}
.banner-container > div.background {
  position: absolute;
  left: -50%;
  width: 200svw;
  background-color: #D3FFDE;
  opacity: 0.1;
  z-index: -1;
}
.banner-container > video {
  width: 100%;
  height: 40svh;
  object-fit: cover;
  object-position: top;
  z-index: 2;
}
.banner-container > div {
  width: 100%;
  height: 40svh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #D3FFDE;
  opacity: 0.5;
  z-index: 3;
}
.banner-container > div > img {
  width: auto;
  height: 100%;
  z-index: 4;
}

section {
  width: 100%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}
section > h1 {
  font-size: 2em;
}
section > h2 {
  margin-top: 20px;
}
section > p {
  margin-bottom: 10px;
}
section > div.side {
  display: flex;
  gap: 20px;
}
section > div.side > div {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 16px;
  border: 1px solid #4b5563;
  border-radius: 8px;
}
section > div.side > div > h2 {
  margin-bottom: 10px;
}

form {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 16px;
  border: 1px solid #4b5563;
  border-radius: 8px;
}

footer {
  width: 100%;
  max-width: 1200px;
  min-height: 10svh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(0, 191, 0, 0.1254901961);
}
footer > div {
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
  display: flex;
}
footer > div > ul, footer > div > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
footer > div > ul.row, footer > div > div.row {
  flex-direction: row;
  gap: 20px;
}
footer > div > ul {
  list-style: none;
}
footer > div > ul:first-child {
  align-items: flex-start;
}
footer > div > ul:first-child li {
  margin-bottom: 10px;
}
footer > div > ul:last-child {
  align-items: flex-end;
}
footer > div > ul:last-child li {
  margin-bottom: 10px;
}
footer > div > ul.row:first-child {
  justify-content: flex-start;
}
footer > div > ul.row:last-child {
  justify-content: flex-end;
}
footer > div > div:first-child {
  align-items: flex-start;
}
footer > div > div:first-child li {
  margin-bottom: 10px;
}
footer > div > div:last-child {
  align-items: flex-end;
}
footer > div > div:last-child li {
  margin-bottom: 10px;
}
footer > div > div.row:first-child {
  justify-content: flex-start;
}
footer > div > div.row:last-child {
  justify-content: flex-end;
}

.logo-container {
  gap: 30px;
  display: flex;
  align-items: center;
}
.logo-container > img {
  width: 80px;
}

/*# sourceMappingURL=style.css.map */
